.caroussel-image1, .caroussel-image2, .caroussel-image3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.caroussel-image1 {
  background-color: gray;
}
.caroussel-image2 {
  background-color: rgb(102, 102, 196);
}
.caroussel-image3 {
  background-color: rgb(78, 213, 206);
}