.carousel-image1, .carousel-image2, .carousel-image3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.carousel-image1 {
  background-color: gray;
}
.carousel-image2 {
  background-color: rgb(102, 102, 196);
}
.carousel-image3 {
  background-color: rgb(78, 213, 206);
}